@using NoteToSelf.Shared.Models

<li class="draggable @invisibleClass"
    draggable="true"
    title="@Item.Id"
    @ondragstart="@((e) => HandleDragStart(e))"
    @ondragenter="@((e)=> HandleDragEnter(e))"
    @ondragend="@((e)=> HandleDragEnd(e))"
>
    <p class="description">@Item.Text</p>
</li>

@code {
    [CascadingParameter] MyContainer MyContainer { get; set; }
    [Parameter] public ItemData Item { get; set; }

    private string invisibleClass = string.Empty;

    protected override void OnParametersSet()
    {
        if (this.Item.IsTopItem)
        {
            //Console.WriteLine($"ID: {Item.Id}");
            this.invisibleClass = "myInvisibleItem";
        }
        else
        {
            //Console.WriteLine($"ID Reversed: {Item.Id}");
            this.invisibleClass = string.Empty;
        }
    }

    private void HandleDragStart(DragEventArgs args)
    {
        this.MyContainer.SetCurrentItem(this.Item);
    }

    private void HandleDragEnter(DragEventArgs args)
    {
        if (this.Item.Id != -1)
        {
            if (this.MyContainer.DraggedOver != null && this.Item != null && this.MyContainer.DraggedOver.Id == this.Item.Id) { return; }

            this.MyContainer.SetDraggedOver(this.Item);
        }
    }

    private void HandleDragEnd(DragEventArgs args)
    {
        if (Item.Id != -1)
        {
            this.MyContainer.RemoveDummyData();
            this.MyContainer.DragEnd();
        }
    }
}